[MESSAGES CONTROL]
disable=
    R0801,  # similar code
    C0301,  # line too long
    C0114,  # missing method docstring
    C0115,  # missing class docstring
    C0116,  # missing function docstring
    W0201   # defined outside __init__ (setup and teardown in tests)
